@import "../base/variables";


// _filters.scss
.filters {
    display: flex;
    gap: $spacing-sm;
    margin-bottom: $spacing-md;
  
    input {
      padding: $spacing-sm;
      border: 1px solid $border-color;
      border-radius: 5px;
      font-size: $font-size-small;
  
      &:focus {
        outline: none;
        border-color: $primary-color;
      }
    }
  }
  