// src/styles/base/_base.scss
@import '../abstracts/_variables.scss';
@import 'reset';
@import 'typography';

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  font-family: inherit;
  font-size: inherit;
}
